<section>
<h5>NoTrack Help</h5>
<p><a href="?p=security">&#128272; NoTrack Security</a></p>
<p><a href="?p=position">&#128187; Positioning NoTrack Device</a></p>
<p><a href="https://quidsup.net/donate">&#129505; Donating to Support NoTrack Development</a></p>
</section>
