@charset "utf-8";

/* ==========================================================================
   Flag Icon and Colours
   ========================================================================== */
.flag-icon {
  display: inline-block;
  height: 2.8rem;
  line-height: 2.8rem;
  width: 2.8rem;
  border-radius: 4px;
  color: #f7f7f7;
  font-size: 1.7rem;
}
.flag-icon-red {
  background-color: #b1244a;
}
.flag-icon-orange {
  background-color: #ff6f1d;
}
.flag-icon-yellow {
  background-color: #f9bf15;
}
.flag-icon-green {
  background-color: #00aa00;
}
.flag-icon img {
  width: 82%;
  max-height: 1.4rem;
  margin: 0.6rem auto;
  border: 1px solid #444;
  border-radius: 2px;
}
.flag-icon img:hover {
  transform: scale(2.2);
}

/* Key for config-functions TLD Blocking
   ========================================================================== */
span.key {
  width: 10em;
  line-height: 1.5rem;
  margin: 1rem 0.5rem 0.5rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #00000a;
  border-radius: 4px;
  display: block;
}
